<div class="customerAddressResult">
  <b>Street Address:</b> <%= customerAddress.street_address %>, <%= customerAddress.city %>, <%= customerAddress.province %>, <%= customerAddress.country %>, <%= customerAddress.postal_code %>
  <a href="/customer/id/<%= customer.customer_id %>">See More >></a>
</div>