<div class="customerAddressResult">
  <b>Street Address:</b> <%= customer_address.street_address %>, <%= customer_address.city %>, <%= customer_address.province %>, <%= customer_address.country %>, <%= customer_address.postal_code %>
</div>