<div class="customerAddressResult">
  <b>Street Address:</b> <%= searchResults.street_address %>, <%= searchResults.city %>, <%= searchResults.province %>, <%= searchResults.country %>, <%= searchResults.postal_code %>
</div>