<div class="productResult">
  <img src="<%= products.image %>" alt="Product Image" class="productImage" height="10%" width="10%" />
  <h3><a href="/product/id/<%= products.product_id %>"><%= products.product_name %></a></h3>
  <b>ID:</b><%= products.product_id %>  <b>Price:</b><%= products.price %>  <b>Category:</b><%= products.category %>
  <b>Vendor:</b><%= products.vendor %>
  <a href="/product/id/<%= products.product_id %>">See More >></a>
</div>