<div class="productResult">
  <img src="<%= searchResults.image %>" alt="Product Image" class="productImage" height="20%" width="20%" />
  <h3><a href="/product/<%= searchResults.product_id %>"><%= searchResults.product_name %></a></h3>
  <b>ID:</b><%= searchResults.product_id %>  <b>Price:</b><%= searchResults.price %>  <b>Category:</b><%= searchResults.category %>
  <b>Vendor:</b><%= searchResults.vendor %>
  <a href="/product/<%= searchResults.product_id %>">See More >></a>
</div>