<div class="recipeResult">
  <h3><a href="/recipe/<%= recipe._id %>"><%= recipe.title %></a></h3>
  <%= recipe._id %>
  <% recipe.ingredients.forEach(function(ingredient) { %>
    <p><%= ingredient %></p>
  <% }); %>
  <a href="/recipe/<%= recipe._id %>">See More >></a>
</div>