<div class="recipeResult">
  <h3><a href="/recipe/<%= searchResults._id %>"><%= searchResults.title %></a></h3>
  <%= searchResults._id %>
  <% searchResults.ingredients.forEach(function(ingredient) { %>
    <p><%= ingredient %></p>
  <% }); %>
  <a href="/recipe/<%= searchResults._id %>">See More >></a>
</div>