<div class="searchResultsContainer">
    <h1>Search Results</h1>
    <p>Number of results: <%= searchResults ? searchResults.length : 0 %></p>
    <% if (searchResults.length === 0) { %>
        <p>No results found.</p>
    <% } else { %>
        <% searchResults.forEach(function(result) { %>
        <div class = "results">
            <% if (result.type === 'products') { %>
                <%- include('productResult', { products: result }) %> 
            <% } else if (result.type === 'customer') { %>
                <%- include('customerResult', { customer: result }) %> 
            <% } else if (result.type === 'customer_account') { %>
                <%- include('customerAccountResult', { customerAccount: result }) %>
            <% } else if (result.type === 'customer_address') { %>
                <%- include('customerAddressResult', { customerAddress: result }) %>
            <% } else if (result.type === 'vendor') { %>
                <%- include('vendorResult', { vendor: result }) %> 
            <% } else if (result.type === 'vendor_address') { %>
                <%- include('vendorAddressResult', { vendor_address: result }) %> 
            <% } else if (result.type === 'Recipes') { %>
                <%- include('recipeResult', { Recipes: result }) %> 
            <% } else { %>
                <p>Unknown result type: <%= result.type %>. Please check your data.</p>
                <p><%= JSON.stringify(result) %></p>
            <% } %>
        </div>
        <% }) %>
    <% } %>
  </div>
  