<div class="vendorAddressResult">
  <b>Street Address:</b> <%= vendor_address.street_address %>, <%= vendor_address.city %>, <%= vendor_address.province %>, <%= vendor_address.country %>, <%= vendor_address.postal_code %>
  <a href="/vendor/id/<%= vendor.vendor_id %>">See More >></a>
</div>