<div class="vendorResult">
  <h3><a href="/vendor/<%= searchResults.vendor_id %>"><%= searchResults.vendor_name %></a></h3>
  <b>ID:</b><%= searchResults.vendor_id %>   <b>Email:</b><%= searchResults.email %> <b>Phone Number:</b><%= searchResults.ph_num %> <br />
  <b>Website:</b><%= searchResults.website %> 
  <a href="/vendor/<%= searchResults.vendor_id %>">See More >></a>
</div>