<div class="vendorResult">
  <h3><a href="/vendor/id/<%= vendor.vendor_id %>"><%= vendor.vendor_name %></a></h3>
  <b>ID:</b><%= vendor.vendor_id %>   <b>Email:</b><%= vendor.email %> <b>Phone Number:</b><%= vendor.ph_num %> <br />
  <b>Website:</b><%= vendor.website %> 
  <a href="/vendor/id/<%= vendor.vendor_id %>">See More >></a>
</div>