<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Recipes</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>

<%- include('./partials/header.ejs') %>

<body>
  <div class = "home">
  <div class="allRecipes">
    <h1>All Recipes</h1>
    <% if (theRecipes && theRecipes.length > 0) { %>
      <% theRecipes.forEach(function(recipe) { %>
        <div class="recipeDiv">
          <h1><%= recipe.title %></h1>
          <h2>Ingredients:</h2>
          <ul>
            <% recipe.ingredients.forEach(function(ingredient, index) { %>
              <li><%= `${index + 1}. ${ingredient}` %></li>
            <% }); %>
          </ul>
          <h2>Directions:</h2>
          <ol>
            <% recipe.directions.forEach(function(direction, index) { %>
              <li><%= `${index + 1}. ${direction}` %></li>
            <% }); %>
          </ol>
          <p><strong>Link:</strong> <a href="<%= recipe.link %>"><%= recipe.link %></a></p>
          <p><strong>Source:</strong> <%= recipe.source %></p>
        </div>
      <% }); %>
      <!-- Pagination controls -->
      <div class="pagination">
        <% if (page > 1) { %>
          <a href="/all/?page=<%= page - 1 %>&pageSize=<%= pageSize %>">Previous</a>
        <% } %>
        <span>Page <%= page %> of <%= Math.ceil(301000 / pageSize) %></span>
        <% if ((page * pageSize) < 301000) { %>
          <a href="/all/?page=<%= page + 1 %>&pageSize=<%= pageSize %>">Next</a>
        <% } %>
      </div>
    </div>
    <% } else { %>
      <p>No recipes found.</p>
    <% } %>
  </div>
</body>
</html>
