<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Customer</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>

<%- include('./partials/header.ejs') %>

<body>
  <div class = "home">
  <div class = "edit-content">
  <h1>Edit Customer</h1>
  <form id="edit-customer-form" action="/customer/edit/<%= customer.customer_id %>" method="POST">
    <label for="first_name">First Name:
      <input type="text" id="first_name" name="first_name" value="<%= customer.first_name %>" required>
    </label>
    <label for="last_name">Last Name:
    <input type="text" id="last_name" name="last_name" value="<%= customer.last_name %>" required>
    </label>
    <label for="gender">Gender:
    <input type="text" id="gender" name="gender" value="<%= customer.gender %>" required>
    </label>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="<%= customer.email %>" required>
    <label for="ph_num">Phone Number:
    <input type="text" id="ph_num" name="ph_num" value="<%= customer.ph_num %>" required>
    </label>
    <label for="pay_method">Payment Method:
    <input type="text" id="pay_method" name="pay_method" value="<%= customer.pay_method %>" required>
    </label>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" value="<%= customer_account.username %>" maxlength="50" required><br />
    <label for="password">New Password:</label>
    <input type="password" id="password" name="password" value="<%= customer_account.password %>" placeholder="Leave blank to keep current" maxlength="255" required><br />
    <label for="street_address">Street Address:
    <input type="text" id="street_address" name="street_address" value="<%= customer_address.street_address %>" required>
    </label>
    <label for="city">City:
    <input type="text" id="city" name="city" value="<%= customer_address.city %>" required>
    </label>
    <label for="province">Province:
    <input type="text" id="province" name="province" value="<%= customer_address.province %>" required>
    </label>
    <label for="country">Country:
    <input type="text" id="country" name="country" value="<%= customer_address.country %>" required>
    </label>
    <label for="postal_code">Postal Code:
    <input type="text" id="postal_code" name="postal_code" value="<%= customer_address.postal_code %>" required>
    </label>

    <button type = "submit">UPDATE</button>
  </form>
</div>
</div>

</body>
</html>