<% if (theCustomers.length > 0) { %>
  <div class="customerDiv">
    <div class="label-data-pair">
        <b>Customer ID:</b> <%= customer.customer_id %>
    </div>
    <div class="label-data-pair">
        <b>Name:</b> <%= customer.first_name %> <%= customer.last_name %>
    </div>
    <div class="label-data-pair">
        <b>Gender:</b> <%= customer.gender %>
    </div>
    <div class="label-data-pair">
        <b>Email:</b> <%= customer.email %>
    </div>
    <div class="label-data-pair">
        <b>Phone Number:</b> <%= customer.ph_num %>
    </div>
    <div class="label-data-pair">
        <b>Payment Method:</b> <%= customer.pay_method %>
    </div>
    <div class="label-data-pair">
        <b>Username:</b> <%= customer.username %>
    </div>
    <div class="label-data-pair">
        <b>Street Address:</b> <%= customer.street_address %>, <%= customer.city %>, <%= customer.province %>, <%= customer.country %>, <%= customer.postal_code %>
    </div>
    <br />
  </div>
<% } else { %>
  <p>No customers found.</p>
<% } %>
