<div class="productDiv">
  <div class="label-data-pair">
    <h2><%= product.product_name %></h2>
  </div>
  <br />
  <div class="label-data-pair">
    <b>Product ID:</b> <%= product.product_id %>
  </div>
  <div class="label-data-pair">
    <b>Price:</b> <%= product.price %>
  </div>
  <div class="label-data-pair">
    <b>Category:</b> <%= product.category %>
  </div>
  <div class="label-data-pair">
    <b>Description:</b><br />
    <%= product.description %>
  </div>
  <div class="label-data-pair">
    <b>Vendor:</b> <%= product.vendor %>
  </div>
  <div class="label-data-pair">
    <img src = "<%= product.image %>" alt = "Product Image" class = "productImage" height = "20%" width = "20%" />
  </div>
  <br />
  </div>