<div class="recipeDiv">
  <h1><%= recipe.title %></h1>
  <h2>Ingredients:</h2>
  <ul>
    <% recipe.ingredients.forEach(function(ingredient, index) { %>
      <li><%= `${index + 1}. ${ingredient}` %></li>
    <% }); %>
  </ul>
  <h2>Directions:</h2>
  <ol>
    <% recipe.directions.forEach(function(direction, index) { %>
      <li><%= `${index + 1}. ${direction}` %></li>
    <% }); %>
  </ol>
  <p><strong>Link:</strong> <a href="<%= recipe.link %>"><%= recipe.link %></a></p>
  <p><strong>Source:</strong> <%= recipe.source %></p>
</div>